.landingicons{
  text-align: center;
  font-size: 60px;
}
#landing{
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: url("https://cdn3.f-cdn.com/contestentries/362065/18471655/56d4fa32d1d02_thumb900.jpg") no-repeat fixed;
  background-size: cover;
  color: white;
}
#landingname{
  font-size: 120px;
  color: white;
}
#landingdesc{
  color:white;
  font-size: 15px;
}
