.landingicon{
  text-align: center;
  font-size: 60px;
  font-size: 4.6875vw;
  margin: 3px;
}
.inlinepicleft{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  width: 150px;
  /*height: 20vh;*/
  border-radius: 25px;
  margin-left: 15%;
}
.inlinetextleft{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  /*height: 20vh;*/
  width: auto;
  font-size: 15px;
  margin-left: 15%;
}.inlinepicright{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  width: 150px;
  /*height: 20vh;*/
  border-radius: 25px;
  margin-left: 15%;
}
.inlinetextright{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  /*height: 20vh;*/
  width: auto;
  font-size: 15px;
  margin-left: 40%;
}
#landing{
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: url("http://www.modafinilsale.com/data/out/532/231510061-tron-wallpaper-4k.png") no-repeat fixed;
  /*https://hdqwalls.com/download/minimalist-mountains-black-and-white-ap-1920x1080.jpg*/
  /*https://i.pinimg.com/originals/82/4b/87/824b877bf4c731e3fcc13a8881c3e982.jpg*/
  /*http://zyzixun.net/data/out/153/4179955-simple-wallpapers.png*/
  /*http://www.modafinilsale.com/data/out/532/231510061-tron-wallpaper-4k.png tron */
  /*https://png.pngtree.com/thumb_back/fw800/back_pic/04/48/50/00585a3568a0a7d.jpg*/
  color: #774903;
}
#bodyone{
  height: 115vh;
  width: 100vw;
  /*background-color: rgb(255, 255, 255, .8);*/
  background: url('http://www.modafinilsale.com/data/out/532/231510061-tron-wallpaper-4k.png') no-repeat fixed;
  background-size: cover;
}
.landingname{
  /*font-size: 120px;*/
  font-size: 10vw;
  color: #774903;
  font-weight: bold;
}
#landingdesc{
  color: #774903;
  font-size: 25px;
  font-size: 1.95vw;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: -2vh;
}
#landingicons{
  padding-top: 25vh;
  height: 100vh;
  width: 100vw;
}
.sections{
  height: 20vh;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: -3em;
    text-align: center;
    color: black;
    background-color: #774903;
    padding-top: .8vh;
}

#highlights{
  height: 8vh;
  width: 100vw;
  color: black;
  font-weight: bold;
  font-size: 7vh;
  text-align: center;
  padding-top: 1.2vh;
}
