#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: -3em;
    text-align: center;
    color: black;
    background-color: #774903;
    padding-top: .8vh;
}
